*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family:Inter, sans-serif;
  background-color: #FAFAF8;
}

.logo {
  height: 6em;
  flex-shrink: 0;
  
  
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background-color: aquamarine;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  margin: 0 auto;
  padding-top: 4px;
}

.headerTitle{
  font-weight: 400;
}

.headerPhrase {
  flex-basis: 100%;
  text-align: center;
  font-size: 0.9em;
  color: #555;
  font-style: italic;
}

main{
  padding: 30px 30px 10px;
  display: flex;
  flex-direction: column;
  
}


.add-ingredient-form{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 12px;
  height: 38px;
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button{
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #FAFAF8;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
}


.instructionsBox{
  align-self: center;
  max-width: 40rem;
  border-radius: 8px;
  background: #F0EFEB;
  padding: 10px 28px;
  margin-top: 15px;
}

.ingredientsContainer{
  margin: 0 auto;
}

ul.ingredients-list {
    margin-bottom: 48px;
}

ul.ingredients-list > li {
    color: #475467;
    line-height: 28px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.removeButton {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #F0EFEB;
    color: #6B7280;
    cursor: pointer;
    margin-right: 10px;
}

.removeButton:hover {
    background: #D17557;
    color: #FAFAF8;
}
.get-recipe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;
    gap: 10px;
}

.get-recipe-container h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}

.get-recipe-container p {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
}

.get-recipe-container button {
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
}

.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}

@media screen and (max-width: 705px){
  .add-ingredient-form > button{
    font-size: 0.75rem;
  }

  .get-recipe-container h3, .get-recipe-container p, .get-recipe-container button{
    font-size: 0.85rem;
    line-height: 20px;
  }

}